.footer {
    background-color: #ffffff;
}

.footer-top-wrapper {
    border-bottom: 2px solid #f5f5f5;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 52px;
    align-items: center;
}

.footer__logo {
    
}

.footer__nav {
    
}

.footer__socials {

}

.footer__row--copyright {
    padding-top: 40px;
    padding-bottom: 49px;
}