.payments {
    display: flex;
    align-items: center;
}

.payments__text {
    margin-right: 30px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(184, 184, 184);
    line-height: 1.5;
}

.payments__icons {
    display: flex;
    align-items: center;
}

.payments__icon {
    & + & {
        margin-left: 20px;
    }
}